.navbar-default {
  font-family: $font-family-sans-serif;

  .navbar-nav .navbar-img {
    padding-top: 20px;
    padding-bottom: 20px;
      img {
        height: $navbar-height - (20px*2);
        width: auto;
      }
  }

  .navbar-brand {
    padding-left: 0px;
    padding-right: 0px;
    img {
      margin-top: -10px;
      margin-bottom: -10px;
      height: $navbar-height - (29px*2) + (10px*2);
      width: auto;
    }
  }
}
